<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- My CSS -->
    <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet">
    <!-- Site Logo-->
    <link rel="icon" type="image/x-ico" href="{{url_for('static', filename='favicon.ico')}}"/>
    <!-- Title -->
    <title>SelectYourGift</title>
</head>

<body>
    <div class="container my-4 py-2 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="1" type="button" class="btn btn-lg btn-outline-primary" style="width: 256px; height: 256px; border-radius: 0;">手环</button>
            <button id="2" type="button" class="btn btn-lg btn-outline-primary border-start-0" style="width: 256px; height: 256px; border-radius: 0;">鼠标</button>
            <button id="3" type="button" class="btn btn-lg btn-outline-primary" style="width: 256px; height: 256px; border-radius: 0;">耳机</button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="8" type="button" class="btn btn-lg btn-outline-primary border-top-0 border-bottom-0" style="width: 256px; height: 256px; border-radius: 0;">棒棒糖</button>
            <button id="GO" type="button" class="btn btn-lg btn-outline-warning border-0" style="width: 256px; height: 256px;">GO</button>
            <button id="4" type="button" class="btn btn-lg btn-outline-primary border-top-0 border-bottom-0" style="width: 256px; height: 256px; border-radius: 0;">键盘膜</button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button id="7" type="button" class="btn btn-lg btn-outline-primary" style="width: 256px; height: 256px; border-radius: 0;">亲亲</button>
            <button id="6" type="button" class="btn btn-lg btn-outline-primary border-start-0" style="width: 256px; height: 256px; border-radius: 0;">抱抱</button>
            <button id="5" type="button" class="btn btn-lg btn-outline-primary" style="width: 256px; height: 256px; border-radius: 0;">未知</button>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- My JS -->
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>

</html>